<div class="caontainer">
  <table class="table border border-secondary text-white text-center mt-5" style="vertical-align: middle;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
           
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>  <button class="btn btn-outline-warning " (click)="delete()">Delete Account</button>  </td>
           
        </tr>
    </tbody>
  </table>
  
</div>

